/* .label-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
} */
.inputarea-with-label-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.inputarea-with-label-container>label {
  margin-bottom: .25rem;
}
label {
  /* margin-left: 1.5rem; */
  font-weight: bold;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.inputarea-with-label-container > textarea {
  height: 10rem;
  width: 90%;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border: 1px solid black;
  border-radius: 0.25rem;
}
